.idea/
apiDoc/
classes/
build/
gradle_graphs/
target/
out/
output/
.gradle/
.idea/
logs/
*.iml
*.iws
*.ipr
*.class
*.dll
*.so
*.exe
*.o
*.pyc
*.cache
.DS_Store
.serverless/
*/allure-results/
temp-template.yaml
